<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pluralsight - Toll Rate Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
	<link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet" />
</head>
<body>
	<div class="row">
		<div class="col-md-12" style="text-align:center">
			<h1>List of People</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<table class="table table-striped">
				<tr><th>Person ID</th><th>Name</th><th>Age</th></tr>
				<tr th:each="school : ${schools}">
					<td th:text="${school.id}"></td>
					<td th:text="${school.name}"></td>
					<td th:text="${school.enrollees}"></td>
				</tr>
			</table>
		</div>
		<div class="col-md-2"></div>
	</div>
    
</body>
</html>